* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product_list {
  width: 30%;
  height: 200px;
  border: 1px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
}
.product_list li {
  padding: 5px;
  cursor: pointer;
}
.shopping_basket {
  width: 30%;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
p {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  width: 30px;
  height: 30px;
  background-color: aquamarine;
  border: 1px solid darkcyan;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  margin: 0 10px;
}
span + span {
  background-color: lightcoral;
  border: 1px solid firebrick;
}
